.main-container {
    display: flex;
    flex-direction: column;
    font-family: 'Dynalight', cursive;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: white;
}

.nav-bar img {
    height: 450px;
    width: 500px;
}


.nav-bar h1 {
    color: darkred;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 100px;
    padding: 20px 0px 0px 100px;
}

.links {
    display: flex;
    gap: 60px;
    margin-right: 100px;
}

a {
    text-decoration: none;
    color: rgb(95, 0, 0);
    font-size: 32px;
}

.container-one {
    display: flex;
    flex-direction: column;
    background-color: rgb(133, 127, 127);
    margin-left: 100px;
    margin-right: 100px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.hero h2 {
    color: rgb(95, 0, 0);
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
}

.hero p {
    color: rgb(95, 0, 0);
    font-size: 30px;
    text-align: center;
}

.container-mid {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.container-mid h3 {
    display: flex;
    justify-content: center;
    font-size: 42px;
    font-weight: lighter;
    color: rgb(95, 0, 0);
}

.menu-content {
    display: flex; 
    justify-content: space-evenly;
  
}

.menu-content img {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    
}

.menu-content h4 {
    font-size: 32px;
    text-align: center;
    color: rgb(95, 0, 0);
    font-weight: lighter;
}

.menu-content p {
    font-size: 20px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    opacity: 0.7;
    text-align: center;
}

.cider {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
    gap: 20px;
}

.mead {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.beer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.container-three {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 50px;
}

.container-three h3 {
    font-size: 42px;
    font-weight: lighter;
    color: rgb(95, 0, 0);
    text-align: center;
}


.container-three h4 {
    font-size: 32px;
    font-weight: lighter;
    color: rgb(95, 0, 0);
    text-align: center;
}

.container-three img {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
}

.merchandise {
    display: flex;
    justify-content: space-evenly; 
}





h6 {
    color: rgb(95, 0, 0);
    font-size: 42px;
    font-weight: lighter;
    text-align: center;
 }

.bottom-group {
    display: flex;
    justify-content: space-evenly;
}

.bottom-group p{
    font-size: 24px;
    color: rgb(95, 0, 0);
    font-weight: lighter;
    text-decoration: underline;

}

.bottom-group img {
    height: 50px;
    width: 50px;
}

.social-media {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-right: 110px;
}

.bottom-group ul {
    font-size: 22px;
    color: rgb(95, 0, 0);
    list-style: none;
    margin: 0%;
    padding: 0%;
    margin-bottom: 50px;
}

.hours {
    display: flex;
    flex-direction: column;

}

.contact-info {
    display: flex;
    flex-direction: column;
}


.footer {
    text-align: center;
    background-color: rgb(49, 2, 2);
    color: white;
    font-size: 18px;
    padding: 20px;
}
